/* Reset des marges et de la largeur de la page */
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

/* Importation des polices */
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}


/* Framework */
section {
  padding-top: 10vh;
  height: 90vh;
  width: 100vw;
}

body, #main-nav a {
  color: #505050;
  font-family: "Roboto";
}

a, .aw-blue {
  color: #5CADD3;
  text-decoration: none;
}

.aw-white {
  color: #fff;
}

.aw-center {
  text-align: center;
}

.aw-button {
  height: 4vh !important;
  padding: 10px 15px 10px 15px !important;
  background-color: #5CADD3;
  color: #fff;
  font-weight: bold;
  width: 150px !important;
  border-bottom: thick solid #468cad;
  transition-property: background-color;
  transition-duration: 250ms;
}

.aw-button:hover {
  background-color: #468cad;
}

h1, h2 {
  text-transform: uppercase;
  font-size: 2.4em;
  font-family: "Roboto-Bold";
}

h2 {
  margin: 0 0 2vh 0;
}

ul {
  list-style-type: none;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 2px;
  background-color: #E5E5E5;
  width: 10vw;
  margin-bottom: 5vh;
}

.divider-point {
  display: block;
  width: 12px;
  height: 12px;
  border: 5px solid #fff;
  border-radius: 12px;
  background: #5CADD3;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}

#logo {
  margin-left: 10vw;
}

#main-nav {
  margin: auto 0 auto 5vw;
  height: 10vh;
}

#main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#main-nav li {
  margin-right: 3vw;
  padding: 3vh 0 0 0;
  border-top: thick solid #fff;
  transition-property: border-top;
  transition-duration: 500ms;
}

#main-nav a {
  text-decoration: none;
}

#main-nav li:hover {
  border-top: thick solid #5CADD3;
}

/* Section Accueil */
#intro {
  position: absolute;
  top: 30vh;
  left: 5vw;
}

#intro p {
  margin-bottom: 5vh;
}

/* Slider */
#aw-slider{
   position : relative;
   background : #000;
   padding: 0;
   margin: 0;
 }

.aw-slide{
   position : absolute;
   top : 0px;
   left : 0px;
   margin: 0;
   padding: 0;
   width: 100%;
 }

 #accueil i {
	position: absolute;
	top: 40%;
	background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5% 0.5% 1.5% 0.5%;
  margin: 0;
  color: #fff;
}

.fa-chevron-left {
  margin: 0;
	border-radius: 0 50px 50px 0;
	left: 0;
}

.fa-chevron-right {
	border-radius: 50px 0 0 50px;
	right: 0;
}

/* Section Services */
article {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}

#services ul {
  width: 40vw;
}

#services li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.service {
  width: 33vw;
}

i {
  color: #5CADD3;
  font-size: 2em;
  margin-left: 20px;
}

.service-round {
  display: flex;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.fa-circle {
  position: relative;
  right: -5px;
  font-size: 0.8em;
  border: 5px solid #fff;
  margin: 0;
}

/* Section Portfolio */
#portfolio {
  background-color: #f5f5f5
}

#portfolio .divider-point {
  border-color: #f5f5f5;
}

#portfolio-nav ul {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 5vh 0 5vh 0;
  padding: 0;
}

#portfolio-nav li {
  position: relative;
  padding: 10px 2vw 10px 2vw;
  line-height: 30px;
  text-align: center;
  background-color: #e5e5e5;
  border-bottom: thick solid #e5e5e5;
  color: #000;
  transition-property: all;
  transition-duration: 200ms;
}

#portfolio-nav i {
  opacity: 0;
  width: 100%;
  color: #468cad;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 35px;
  margin: 0;
  transition-property: all;
  transition-duration: 200ms;
}

#portfolio-nav li:hover {
  background-color: #5CADD3;
  border-bottom: thick solid #468CAD;
  color: #fff;
}

#portfolio-nav i:hover {
  opacity: 1;
}

#projects-container {
  width: 95vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#projects-container img {
  height: 25vh;
  width: 20vw;
}

/* Section Contact */
#contact {
  box-shadow: inset 2000px 0 0 0 rgba(92, 173, 211, 0.25);
  background: url("../images/map.png") scroll no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 2vh;
}

#contact p {
  margin-bottom: 0;
  line-height: 1.5;
}

#contact em {
  font-weight: bold;
  font-style: normal;
}

#contact p a {
  border-bottom: 2px dotted #272727;
  color: black;
}

#contact div {
  width: 20vw;
  margin-right: 10vw;
  padding: 0 2% 2% 2%;
  background-color: rgba(235, 235, 235, 0.8);
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-top: 3vh;
  padding: 1vh 0 1vh 1vw;
  font-family: "Roboto";
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
