/* Reset des marges de la page */
body {
  padding: 0px;
  margin: 0px;
}

/* Importation des polices */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: Bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* Framework */
section {
  padding-top: 100px;
}

body {
  color: #555;
  font-family: "Roboto", sans-serif;
}

a, .wa-blue {
  color: #5CADD3;
  text-decoration: none;
}

.wa-white {
  color: #fff;
}

.wa-center {
  text-align: center;
}

.wa-button {
  height: 40px ;
  padding: 10px 15px 10px 15px ;
  background-color: #5CADD3;
  color: #fff;
  font-weight: bold;
  width: 150px ;
  border-bottom: thick solid #468cad;
  transition-property: background-color;
  transition-duration: 250ms;
}

.wa-button:hover {
  background-color: #468cad;
}

.wa-heading {
  text-transform: uppercase;
  font-size: 2.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.wa-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto 2% auto;
  height: 2px;
  background-color: #E5E5E5;
  width: 15%;
}

.wa-divider-point {
  display: block;
  width: 12px;
  height: 12px;
  border: 5px solid #fff;
  border-radius: 12px;
  background: #5CADD3;
}

/* Header */
#wa-site-header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  height: 100px;
}

#logo {
  margin: 1% 0 1% 10%;
}

#main-nav {
  width: 25%;
  height: 100%;
  margin: 0 15% 0 0;
}

#main-nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-nav li {
  margin-right: 10%;
  padding: 10% 0 0 0;
  border-top: thick solid #fff;
  transition-property: border-top;
  transition-duration: 500ms;
}

#main-nav a {
  color: #555;
  text-decoration: none;
}

#main-nav li:hover {
  border-top: thick solid #5CADD3;
}

/* Section Accueil */
#accueil {
  width: 100%;
  overflow: hidden;
}

/* Slider */
#wa-slider{
  display: flex;
  width: 200%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wa-slide{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#intro {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
}

#intro p {
  margin-bottom: 5%;
}

#accueil i {
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5% 0.5% 1.5% 0.5%;
  margin: 0;
  color: #fff;
}

.fa-chevron-left {
  margin: 0;
  border-radius: 0 50px 50px 0;
  left: 0;
}

.fa-chevron-right {
  margin: 0;
	border-radius: 50px 0 0 50px;
	right: 0;
}

/* Section Services */
#services article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
}

#services ul {
  width: 40%;
}

#services li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wa-service {
  width: 80%;
}

.wa-service-logo {
  color: #5CADD3;
  font-size: 2em;
  margin-left: 20px;
}

.wa-round-divider {
  display: flex;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.wa-round-divider-point{
  color: #5CADD3;
  position: relative;
  right: -5px;
  font-size: 0.8em;
  border: 5px solid #fff;
  margin: 0;
}

/* Section Portfolio */
#portfolio {
  background-color: #f5f5f5;
}

#portfolio .wa-divider-point {
  border-color: #f5f5f5;
}

#portfolio-nav ul {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 2% 0 2% 0;
  padding: 0;
}

#portfolio-nav li {
  position: relative;
  padding: 10px 2% 10px 2%;
  line-height: 30px;
  text-align: center;
  background-color: #e5e5e5;
  border-bottom: thick solid #e5e5e5;
  color: #000;
  transition-property: all;
  transition-duration: 200ms;
}

#portfolio-nav i {
  opacity: 0;
  width: 100%;
  color: #468cad;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 35px;
  margin: 0;
  transition-property: all;
  transition-duration: 200ms;
}

#portfolio-nav li:hover {
  background-color: #5CADD3;
  border-bottom: thick solid #468CAD;
  color: #fff;
}

#portfolio-nav i:hover {
  opacity: 1;
}

#projects-container {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#projects-container li {
  width: 22%;
  height: 100%;
}

#projects-container img {
  width: 100%;
  height: 100%;
}

/* Section Contact */
#contact {
  box-shadow: inset 2000px 0 0 0 rgba(92, 173, 211, 0.25);
  background: url("../images/map.png") scroll no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3%;
}

#contact p {
  margin-bottom: 0;
  line-height: 1.5;
}

#contact em {
  font-weight: bold;
  font-style: normal;
}

#contact p a {
  border-bottom: 2px dotted #272727;
  color: black;
}

#contact div {
  width: 20%;
  margin: 0 10% 10% 0;
  padding: 0 2% 2% 2%;
  background-color: rgba(235, 235, 235, 0.8);
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-top: 5%;
  padding: 2% 0 2% 2%;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
