/* Header */
#main-nav {
  width: 40%;
}

/* Section Accueil */
#intro {
  top: 15%;
}

#intro .wa-heading {
  font-size: 1.6em;
}

#intro p {
  font-size: 1em;
}

#accueil i {
  top: 25%;
}

/* Section Services */
#services img {
  display: none;
}

#wa-services-list {
  width: 80%;
}

/* Section Portfolio */
.wa-portfolio-item {
  width: 30%;
}

/* Section Contact */
#contact-form {
  width: 40%;
}
