/* Framework */
.wa-heading {
  font-size: 1.5em;
}

/* Site Header */
#wa-site-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#logo {
  margin: 2%;
}

#main-nav {
  width: 100%;
}

#main-nav li {
  height: 100%;
  margin-bottom: 1%;
}

#main-nav a {
  line-height: 100%;
}

/* Section Accueil */
#accueil {
  background-color: #f1f1f1;
  padding-bottom: 5%;
}

#wa-slider, .wa-slide, #accueil i {
  display: none;
}

#intro {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  margin: auto;
}

#intro .wa-heading, #intro p {
  color: #555;
  text-align: center;
}

#intro p {
  font-size: 1em;
}

#intro a {
  display: block;
  margin: auto;
  width: 30%;
}

/* Section Services */
#services {
  padding: 100px 2% 0 2%;
}

#services img {
  display: none;
}

#services ul, #services li {
  width: 100%;
}

#services ul {
  padding: 0;
}

.wa-service {
  padding-left: 5%;
}

/* Section Portfolio */
#portfolio-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.portfolio-item {
  width: 90%;
}

/* Section Contact */
#contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact div {
  width: 90%;
  margin: 0 0 5% 0;
}
