/* Section Accueil */
#intro {
  top: 15%;
}

#intro .wa-heading {
  font-size: 1.6em;
}

#intro p {
  font-size: 1em;
}

#accueil i {
  top: 25%;
}

/* Section Services */
#services img {
  visibility: collapse;
}

#services ul, #services li {
  width: 100%;
}

/* Section Contact */
#contact div {
  width: 40%;
  margin-right: 5%;
}
